<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Ioc" type="QinSoft.Ioc.Ext.IocSection,QinSoft.Ioc.Ext"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <Ioc>
    <Objects>
      <Object Name="Action" Type="QinSoft.Ioc.Test.ActionClass,QinSoft.Ioc.Test" IsNull="True"></Object>
      <Object Name="Msg" Type="System.Guid" Value="e7b14227-7635-4b66-84ad-76f8ef294232"></Object>
      <Object Name="Test" Type="QinSoft.Ioc.Test.TestClass,QinSoft.Ioc.Test" CreateType="Sington">
        <ConstructProperties>
          <Property Name="Action" ObjectName="Action"></Property>
          <Property Name="Msg" ObjectName="Msg"></Property>
        </ConstructProperties>
      </Object>
    </Objects>
  </Ioc>
</configuration>