<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Ioc" type="QinSoft.Ioc.Ext.IocSection,QinSoft.Ioc.Ext"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <Ioc>
    <Objects>
      <Object Name="DoClass" Type="QinSoft.Ioc.Test.ClassDo" Value="2"></Object>
      <Object Name="TestClass" Type="QinSoft.Ioc.Test.TestClass">
        <ConstructProperties>
          <Property Name="Action" ObjectName="DoClass"></Property>
          <Property Name="Action" ObjectName="DoClass"></Property>
        </ConstructProperties>
      </Object>
    </Objects>
  </Ioc>
</configuration>